.container
{
    display: flex;
    align-items: center;
    height: 45px;
    position: sticky;
    background-color: orangered;
}

.icon
{
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    position: relative;
    left: 30px;
    margin: 0px 0px;
}


.searchbar-container
{
    margin: auto;
    position: relative;
    right: 100px;
    background-color: #fff;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    border-radius: 20px;
    width: 320px;
}
.search-icon
{
    
    position: relative;
    top: 3px;
    
}

.search-box
{
    outline: none;
    border: none;
    overflow: hidden;
    /* border-radius: 20px; */
    padding: 5px 10px;
    width: inherit;
    border-radius: 21px;
}

.border-bottom
{
    border-bottom: 1px solid black;
    width: 266px;
    position: absolute;
    top: 24px;
    left: 35px;
}

.menu-container
{
    display: flex;
    align-items: center;
    position: relative;
    right: 35%;
    /* padding: 5px 5px; */
}
.menu-items
{
    margin: 0px 3px;
    cursor: pointer;
}


.flag
{
    background-color: rgb(15, 238, 15);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    /* border: 2px solid black; */
    position: absolute;
    top: -1px;
    /* right: 5px; */
}
.messages>.flag
{
    right: 32px;
}
.notifications>.flag
{
    right: 7px;
}
.topbar-right
{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    /* height: 30px; */
    /* width: 30px; */
    /* border-radius: 50%; */
    
}
.dark-white-toggle
{
    margin-right: 20px;
    cursor: pointer;
}
.image-container
{
    /* margin-right: 20; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.image{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}