
.post-container
{
    width: 100%;
    /* height: 97vh; */
    border-radius: 10px;
    /* background-color: blue; */
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.1);

    /* overflow-y: scroll; */
}
.post-wrapper
{
    margin-top: 20px;
    padding: 20px;
}

.post-top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-username
{
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
}

.post-timelapse
{
    font-style: italic;
    font-size: small;
}

.post-top-left
{
    display: flex;
    align-items: center;
}

.post-top-right
{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.post-profile-pic
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}

.post-center
{
    margin-top: 20px;
}



.post-center-img
{
    margin-top: 10px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    cursor: pointer;
}

.post-bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.post-likes
{
    display: flex;
    align-items: center;
    
}

.post-like-icon
{
    /* margin-right: 10px; */
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.post-likes-counter
{
    margin-left: 10px;
    font-size: 15px;
}

.post-bottom-right
{
    font-size: 15px;
    border-bottom: 1px dashed gray;
    cursor: pointer;
}

.dropdown-menu {
    /* display: none; */
    position: absolute;
    right: 0px;
    top: 30px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-item {
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  
  .dropdown-item:hover {
    background-color: #9fc3f870;
  }

  .comment-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .comment-container{
    display: flex;
    /* flex-direction: column; */
    position: relative;
    /* left: 0; */
    /* align-items: center; */
    /* margin-top: 10px; */
    /* padding-left: 5px; */
    border: 1px solid red;
    padding:5px;
    border-radius: 8px;
    /* justify-content: center; */
    align-items: center;
  }

  .comment-container2{
    display: flex;
    flex-direction: column;
    position: relative;

  }
  
  .commenter-profilePic{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
  }
  .comment-username{
    color:red;
    margin-right: 10px;
    font-size: small;
  }

  .comment-handler-container{
    display: flex;
    align-items: center;
  }

  .comment-input{
    border-radius: 10px;
    margin: 5px 0px 10px 0;
    padding: 10px 5px;
    outline: none;
    width: 100%;
  }

  .comment-btn-submit{
    position: relative;
    margin: 5px 0px 10px 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 2px;
    cursor: pointer;
    transition: 0.15s all;
  }

  .comment-btn-submit:active{
    scale:0.8;
  }