.sidebar-container{
    flex: 3;
    /* height: (100vh-40px); */
    height: 95vh;
    /* background-color: yellow; */
    /* border: 2px solid black; */
    overflow-y: scroll;
    scrollbar-width: thin;
    position: sticky;
    top: 49px;
    z-index: 1;
}

.sidebar-container::-webkit-scrollbar
{
    width: 4px;
    transition: all 0.15s;
}
.sidebar-container::-webkit-scrollbar-track
{
    background-color: antiquewhite;
}
.sidebar-container::-webkit-scrollbar-thumb
{
    background-color: rgb(151, 151, 151);
}

.sidebar-list
{
    padding: 0;
    margin: 0;
    list-style: none;
    /* overflow-y: scroll; */
    
}
.sidebar-list-item
{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 5px 0;
    margin-bottom: 20px;
}

.sidebarWrapper
{
    margin-left: 20px;
    /* overflow-y: scroll; */
}
.sidebar-list-icon
{
    margin-right: 15px;
}
.sidebar-show-more-btn
{
    width: 150px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all 0.25s;
    
}

.sidebar-show-more-btn:hover
{
    /* box-shadow: 0px 10px 10px rgb(black, black, black); */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.263)
}

.sidebar-hr
{
    margin: 10px 0;
    margin-right: 10px;
}

.sidebar-friend-list
{
    padding: 0;
    margin: 0;
    list-style: none;
   
}
