.rightbar-container
{
    flex: 3.7;
    height: 98vh;
    overflow-y: scroll;
    scrollbar-width: none;
    
}

.rightbar-container::-webkit-scrollbar
{
    width: 0px;
    transition: all 0.15s;
}

.rightbar-wrapper
{
    margin: 22px 17px;
}

.rightbar-top
{
    border-radius: 12px;
    padding: 12px;
    /* -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.3); */
}

.rightbar-content-text
{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 17px;
    font-weight: 900;
    /* margin-bottom: 10px; */
}

.rightbar-top-img
{
    width: 100%;
    border-radius: 10px;
    margin-top: 7px;
    cursor: pointer;
}
.rightbar-top-popular-content-hashtags
{
    position: relative;
    top: -42px;
    color: rgb(236, 225, 225);
    margin-left: 10px;
    border-bottom: 1px dashed rgb(94, 93, 93);
    cursor: pointer;
}

.rightbar-bottom
{
    margin-top: 22px;
    /* -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.3); */
}

.online-friends-heading
{
    font-weight: bold;
    margin-bottom: 5px;
}

.online-friends-list
{
    /* margin: 15px; */
    border: 2px solid rgb(128, 125, 125);
}

.online-friend
{
    display: flex;
    align-items: center;
    /* margin-top: 15px; */
    padding: 12px 13px;
    cursor: pointer;

}

.friend-profile-pic
{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.img-highlight-green
{
    height: 10px;
    width: 10px;
    background-color: green;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    top: 11px;
    left: -26px;
}

.rightbar-title
{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbar-info
{
    margin-bottom: 15px;
}

.rightbar-info-item
{
    margin-bottom: 10px;
}

.rightbar-info-key
{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}
.rightbar-info-key
{
    font-weight: 300;
}

.rightbar-followings
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbar-following{
    display: flex;
    flex-direction: column;
    /* margin: 5px; */
    margin-bottom: 10px;
    margin-right: 15px;
    cursor: pointer;
    align-items: center;
}

.rightbar-following-img
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}