.share-container
{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    /* background-color: blue; */
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.1);
}

.share-wrapper
{
    padding: 12px;
}
.share-top
{
    display: flex;
    align-items: center;
}

.share-profile-pic
{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
}
.share-input
{
    height: 45px;
    width: 90%;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 20px;
}

.share-hr
{
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.share-options
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}

.share-option
{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.share-icon
{
    margin-right: 15px;
}

.emoji-icon
{
    background-color: rgb(17, 13, 13);
    border-radius: 50%;
    border: none;
}

.share-bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share-btn
{
    background-color: rgb(23, 185, 23);
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 8%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.15s;
}

.share-btn:hover
{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.263)
    
}