.share-container
{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    /* background-color: blue; */
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.1);
}

.share-wrapper
{
    padding: 10px;
}
.share-top
{
    display: flex;
    align-items: center;
}

.share-profile-pic
{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
.share-input
{
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 20px;
}

.share-hr
{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.share-options
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.share-option
{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.share-icon
{
    margin-right: 10px;
}

.emoji-icon
{
    background-color: black;
    border-radius: 50%;
    border: none;
}

.share-bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share-btn
{
    background-color: green;
    color: #fff;
    padding: 5px;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    font-size: 20px;
    transition: all 0.15s;
}

.share-btn:hover
{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5)
    
}